:host {
  padding: 14px 26px;
  transition: background-color 0.25s ease-out;
  background-color: var(--color-main);
  border-radius: 12px;
}

.button {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
}

:host:hover {
  background-color: var(--color-sec);
}
