main {
  padding: 0 12px;
}

.noticia-section {
  padding: 0px 16px 80px 16px;
}

.date-and-category-conotainer {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 36px;
}

.date {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-main);
}
