main {
  padding: 0 12px;
}

.noticia-category {
  color: var(--color-main);
  background-color: var(--color-light);
  width: fit-content;
  font-weight: 800;
  padding: 8px 20px;
  border-radius: 12px;
  font-size: 14px;
}

.noticia-category:hover {
  background-color: var(--color-sec);
}
