.noticia-section {
  padding: 38px 22px 80px 22px;
  max-width: 90%;
  margin: auto;
}

.date-and-category-conotainer {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 36px;
}

.date {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-main);
}

.noticia-text {
  white-space: pre-wrap;
}

:host ::ng-deep .noticia-text ul {
  padding-left: 1.5rem;
}

:host ::ng-deep .noticia-text ul li {
  list-style-type: circle;
}

:host ::ng-deep .noticia-text a {
  text-decoration: underline;
  color: var(--color-main);
}

.download-icon {
  height: 28px;
}

.download {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 38px;
}

span {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 375px) {
  .noticia-section {
    padding-bottom: 40px;
    max-width: 100%;
  }

  .download {
    margin-right: auto;
    margin-left: auto;
  }
}
