main {
  padding: 0 12px;
}

.noticia-section {
  padding: 0px 16px 80px 16px;
}

.date-and-category-conotainer {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 36px;
}

.date {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-main);
}

.download-icon {
  height: 28px;
}

.download {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 38px;
}

span {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
