:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.password-instructions {
  text-align: center;
}

.show-pass-button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}

.button {
  padding: 14px 26px;
  border-radius: 12px;
}
