:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.password-instructions {
  text-align: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.field-container {
  align-items: center;
}

.form-field {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid var(--color-light);
}

.button-icon-icon {
  height: 24px;
  color: var(--color-main);
}

.button-icon-icon path {
  stroke: currentColor;
  stroke-width: 20;
  fill: none;
}

.show-pass-button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}

.button {
  padding: 14px 26px;
  border-radius: 12px;
}
