.team-card-container {
  background-color: var(--color-extra-light);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.member-image {
  border-radius: 12px;
  margin-top: 12px;
  max-width: 90%;
  align-self: center;
}

.member-name {
  color: var(--color-main);
  padding: 12px 0;
}

.card-text {
  padding: 20px;
}

.icon-wrapper {
  background-color: var(--color-light);
  padding: 16px 16px 8px 16px;
  display: inline-block;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* width: fit-content; */
}

.icon {
  color: var(--color-main);
  height: 50px;
}

@media screen and (max-width: 375px) {
  .member-position {
    font-size: 15px;
  }

  .member-name {
    color: var(--color-main);
    padding-top: 0;
    padding-bottom: 0;
  }
}
