:host {
  padding: 18px;
  background-color: var(--color-light);
  min-width: 20vw;
}

.aside-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside-menu-title {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--color-main);
}

.nav-link:hover {
  color: var(--color-sec);
}

.aside-icon {
  height: 18px;
  margin-bottom: 8px;
}

.aside-title {
  display: flex;
  align-items: center;
  gap: 8px;
}
