<ul>
  <li>Noticias</li>
  <nav>
    <ul class="nav-links">
      <li><a class="nav-link" [routerLink]="['/admin-panel/admin-noticias']">Ver Noticias</a></li>
      <li><a class="nav-link" [routerLink]="['/admin-panel/nueva-noticia']">Añadir Noticia</a></li>
    </ul>
  </nav>
  <li>Clientes</li>
  <nav>
    <ul class="nav-links">
      <li><a class="nav-link" [routerLink]="['/admin-clientes']">Ver clientes</a></li>
      <li><a class="nav-link" [routerLink]="['/nuevo-cliente']">Añadir Ciente</a></li>
    </ul>
  </nav>
</ul>
