.button-icon-icon {
  height: 24px;
  color: var(--color-main);
}

.button-icon-container {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: var(--color-light);
  opacity: 0.7;
}
.button-icon-container:hover {
  opacity: 1;
}

.button-icon-icon path {
  stroke: currentColor;
  stroke-width: 20;
  fill: none;
}

.button-icon-container:hover svg path {
  stroke: var(--color-sec);
}

.show-pass-button {
  background: transparent;
  display: flex;
  justify-content: center;
}
.show-pass-button .button-icon-icon {
  color: rgba(0, 0, 0, 0.42);
  height: 18px;
}
.show-pass-button .button-icon-icon path {
  stroke: none;
  fill: currentColor;
}
