.button-icon-icon {
  height: 20px;
  color: var(--color-main);
}

.button-icon-container {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  padding: 6px;
  background-color: var(--color-light);
  opacity: 0.7;
}
.button-icon-container:hover {
  opacity: 1;
}
.button-icon-container:hover svg path {
  stroke: var(--color-sec);
}
