form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.field-container {
  align-items: center;
}

.form-field {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid var(--color-light);
}

.button {
  padding: 8px 14px;
  border-radius: 10px;
}

.button-icon-icon {
  height: 24px;
  color: var(--color-main);
}

.button-icon-icon path {
  stroke: currentColor;
  stroke-width: 20;
  fill: none;
}
