form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.label-input-container {
  display: flex;
  border-radius: 6px;
}

.field-container {
  align-items: center;
}

.form-field {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid var(--color-light);
}

.button-icon-icon {
  height: 24px;
  color: var(--color-main);
}

.button-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  background-color: var(--color-light);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.button-icon-icon path {
  stroke: currentColor;
  stroke-width: 20;
  fill: none;
}

button {
  margin-top: 20px;
}
