.button {
  padding: 8px 14px;
  border-radius: 10px;
}

.forget-password-button {
  color: var(--color-main);
  text-decoration: underline;
  font-size: 16px;
}

.forget-password-button:hover {
  color: var(--color-sec);
  cursor: pointer;
}
