.members-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
  padding: 16px;
  margin: auto;
}

.diferencias-section {
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  gap: 62px;
  align-items: center;
}

.diferencias-section > ul,
.equipo-section {
  width: 100%;
}

.results-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 30px 12px 0 12px;
  justify-content: center;
  margin: auto;
  max-width: 80%;
}

iframe {
  width: 100%;
  display: block;
}

@media screen and (min-width: 375px) and (max-width: 992px) {
  .members-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    /* padding: 8px; */
  }
}

@media screen and (min-width: 1300px) {
  .members-list {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .diferencias-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 374px) {
  .members-list {
    grid-template-columns: 50% 50%;
    gap: 6px;
    padding: 6px;
  }

  .results-list {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}
