.service-card-container {
  background-color: var(--color-extra-light);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: 100%;
}

.service-card-container:hover {
  background-color: var(--color-light);
}

.card-image {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  max-width: 100%;
}

.card-title {
  color: var(--color-main);
  padding: 12px 0;
}

.service-card-container:hover .card-title {
  color: var(--color-sec);
}

.card-text {
  padding: 20px;
}
