:host {
  display: flex;
  flex-direction: column;
}

.card-text {
  padding: 20px;
}

.card-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  color: var(--color-main);
  padding: 12px 0;
}
