.admin-noticias-header {
  margin-bottom: 28px;
}

.error-message {
  margin-top: 28px;
}

.no-noticias-message {
  margin-top: 20px;
}

.noticias-list {
  margin: 20px 0;
  border-radius: 6px;
}

.noticia-icons {
  display: flex;
  gap: 6px;
}
