.admin-noticias-header {
  margin-bottom: 28px;
}

.server-error-message,
.no-elements-message,
.loading-message {
  margin-top: 28px;
}

.noticias-list {
  margin: 20px 0;
  border-radius: 6px;
}

.noticia-icons {
  display: flex;
  gap: 6px;
}
