body.admin h1 {
  font-size: 26px;
}

body.admin .button {
  padding: 8px 14px;
  border-radius: 10px;
}

.add-category-button .button-icon-container {
  height: 47px;
}
.add-category-button .button-icon-container svg {
  margin: auto;
}

form {
  padding: 28px 0px;
}

.inputs-and-buttons-container {
  display: flex;
  gap: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form-field {
  border-radius: 6px;
  padding: 10px 12px;
}

.error-message {
  font-size: 15px;
  color: #b3001b;
}

th {
  background-color: var(--color-light) !important;
  color: var(--color-main) !important;
}
