body.admin main {
  padding: 42px 38px;
  min-height: 100vh;
  min-width: 80vw;
  background-color: var(--color-extra-light);
}

body.admin h1 {
  font-size: 26px;
}

body.admin .button {
  padding: 8px 14px;
  border-radius: 10px;
}

th {
  background-color: var(--color-light) !important;
  color: var(--color-main) !important;
}
