@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './admin-layout-styles.css';
@import './public-layout-styles.css';

:root {
  --color-black: rgb(2, 21, 38);
  --color-white: #ffffff;
  --color-main: #231473;
  --color-sec: #3b889d;
  --color-light: #dedeff;
  --color-extra-light: #efedfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  /* text-decoration: none; */

  font-family: 'EB+Garamond', serif;
  font-optical-sizing: auto;
  font-size: 18px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.centered-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  width: fit-content;
}

button:disabled,
button:disabled:hover {
  cursor: auto;
  background-color: var(--color-light);
}

.button {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-main);
  transition: background-color 0.25s ease-out;
  width: fit-content;
}

.button:hover {
  background-color: var(--color-sec);
  color: var(--color-white);
}

h1 {
  margin-bottom: 16px;
}

.page-title {
  padding-top: 50px;
}

.page-subtitle {
  color: var(--color-sec);
}

.middle-section {
  padding: 80px 0;
}

.bottom-section {
  padding-bottom: 80px;
}

.coloured-section {
  background-color: var(--color-extra-light);
}

.centered-text {
  text-align: center;
}

.arrow-icon {
  color: var(--color-main);
  height: 30px;
  display: flex;
  align-self: flex-end;
  margin-top: 6px;
}

.paragraph {
  white-space: pre-line;
}

.noticia-category {
  color: var(--color-main);
  background-color: var(--color-light);
  width: fit-content;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  text-transform: uppercase;
}

.noticia-category:hover {
  background-color: var(--color-sec) !important;
  color: var(--color-white);
}

form {
  padding: 28px 0px;
}

.inputs-and-buttons-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.form-field {
  border-radius: 6px;
  padding: 10px 12px;
  border: 1px solid var(--color-light);
  height: 48px;
}

@media screen and (max-width: 375px) {
  .middle-section {
    padding: 30px 0;
  }

  .bottom-section {
    padding-bottom: 30px;
  }
}
