:host {
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

:host.visible {
  opacity: 1;
  pointer-events: all;
}

svg {
  margin-top: 0;
}

@media screen and (max-width: 524px) {
  :host {
    /*  opacity: 0.7;*/
    bottom: 46px;
  }
}
