:host {
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

:host.visible {
  opacity: 0.7;
  pointer-events: all;
}

:host:hover {
  opacity: 1;
}

.scroll-button {
  background-color: var(--color-light);
  border-radius: 6px;
  padding: 9px;
}

:host:hover path {
  color: var(--color-sec);
}

svg {
  margin-top: 0;
}

.rotation {
  transform: rotate(-90deg);
}

@media screen and (max-width: 524px) {
  :host {
    /*  opacity: 0.7;*/
    bottom: 46px;
  }
}
