:host {
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--color-light);
}

:host.visible {
  opacity: 0.7;
  pointer-events: all;
}

:host:hover {
  opacity: 1;
}

:host:hover .arrow-icon path {
  stroke: var(--color-sec);
}

.arrow-icon {
  color: var(--color-main);
  height: 30px;
  display: flex;
  align-self: flex-end;
}

.arrow-icon path {
  stroke: currentColor;
  stroke-width: 20;
  fill: none;
}

@media screen and (max-width: 524px) {
  :host {
    opacity: 0.7;
  }
}
