.carousel-container {
  display: flex;
  padding: 0 16px 80px 16px;
  align-items: center;
  justify-content: space-around;
}

.reference-links-list {
  display: flex;
  gap: 98px;
  padding: 0 26px;
  justify-content: space-around;
  width: 80vw;
}

.reference-link-container p {
  text-align: center;
}

@media screen and (max-width: 374px) {
  .reference-links-list {
    padding-bottom: 30px;
  }
}
