.files-section {
  display: flex;
  gap: 48px;
  justify-content: space-evenly;
  padding: 28px 16px 80px 16px;
}

.years-article,
.permanent-article {
  padding: 16px;
  border: 1px solid var(--color-light);
  border-radius: 12px;
  width: 100%;
}

.permanent-title {
  color: #673ab7;
  line-height: 48px;
  border-bottom: 2px solid #673ab7;
}

.files-list {
  padding: 24px 0;
}

.file-button {
  background-color: transparent;
  color: var(--color-main);
}

.file-button:hover {
  color: var(--color-sec);
}
