:host {
  height: 38px;
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 0 20px;
}

.header-cta {
  font-size: 18px;
  font-weight: 600;
}

.contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact-details > li {
  display: flex;
  gap: 3px;
  align-items: center;
}

.header-icon {
  color: var(--color-main);
  height: 18px;
}

.secondary-header-text {
  font-size: 15px;
}

@media screen and (max-width: 766px) {
  .address {
    display: none;
  }

  :host {
    flex-direction: column;
    white-space: nowrap;
    width: 100vw;
    gap: 0;
    height: 4vh;
  }

  app-header-navbar {
    display: none;
  }

  app-header-navbar.active {
    display: flex;
  }
}

@media screen and (max-width: 850px) {
  .phones {
    display: none;
  }
}
