:host {
  height: 38px;
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 0 20px;
}

.header-cta {
  font-size: 18px;
  font-weight: 600;
}

.contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact-details > li {
  display: flex;
  gap: 3px;
  align-items: center;
}

.header-icon {
  color: var(--color-main);
  height: 18px;
}

.secondary-header-text {
  font-size: 15px;
}

.phone-icon {
  display: none;
}

@media screen and (max-width: 375px) {
  /* :host {
    flex-direction: column;
    height: auto;
    padding: 8px;
  } */
  .header-cta {
    font-size: 16px;
  }
  .contact-details {
    display: none;
  }
  .phone-icon {
    display: block;
    height: 16px;
  }
  .phone-icon path {
    fill: currentColor !important;
  }
  .cta-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
