.nav-links {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin: auto;
}

.nav-link {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-main);
  position: relative;
  display: inline-block;
}

.nav-link:hover {
  color: var(--color-sec);
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-sec);
  transition: width 0.3s ease-out;
}

.nav-link:hover::after {
  width: 100%;
}

@media screen and (max-width: 766px) {
  .nav-links {
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 111px;
    right: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    background-color: var(--color-black);
  }

  a {
    color: var(--color-white);
  }
}
