.nav-links {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  /* margin: auto; */
}

.nav-link {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-main);
  position: relative;
  display: inline-block;
}

.nav-link:hover {
  color: var(--color-sec);
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-sec);
  transition: width 0.3s ease-out;
}

.nav-link:hover::after {
  width: 100%;
}

.active {
  color: var(--color-sec);
}

@media screen and (max-width: 768px) {
  .nav-links {
    /* border-top: 1px solid var(--color-light); */
    flex-direction: column;
    position: absolute;
    top: 98px;
    left: 0;
    padding: 40px 20px;
    z-index: 2;
    background-color: var(--color-white);
    width: 100%;
    height: 90vh;
  }
}
