.home-banner-section {
  display: flex;
}

.home-banner-image,
.home-banner-text {
  width: 50%;
}

.home-banner-image {
  object-fit: cover;
}

.home-banner-text {
  padding: 60px 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 > span {
  font-size: inherit;
  color: var(--color-sec);
}

li {
  position: relative;
  padding-left: 48px;
}

li::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 16px;
  height: 22px;
  width: 22px;
  background-image: url('/bali-asociados-icon.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

/* @media screen and (max-width: 768px) {
  .home-banner-section {
    flex-direction: column;
  }
  .home-banner-text {
    display: block;
  }
} */

@media screen and (max-width: 768px) {
  .home-banner-section {
    position: relative;
  }
  .home-banner-section::before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: var(--color-light);
    opacity: 0.7;
    z-index: 1;
  }
  .home-banner-image,
  .home-banner-text {
    width: 100%;
    height: 90vh;
  }

  .home-banner-image {
    position: relative;
  }

  .home-banner-text {
    z-index: 2;
    padding: 16px;
    position: absolute;
  }
  .home-title {
    font-size: 36px;
  }
  .home-subtitle {
    font-size: 30px;
  }

  li::before {
    top: 12px;
  }
}
