.home-banner-section {
  display: flex;
}
.home-banner-image,
.home-banner-text {
  width: 50%;
}

.home-banner-image {
  object-fit: cover;
}

.home-banner-text {
  background-color: var(--color-extra-light);
  padding: 60px 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 > span {
  font-size: 36px;
  color: var(--color-sec);
}

h2::before {
  content: '';
  display: inline-block;
  width: 0.2em;
  height: 0.2em;
  margin: 0.15em 0.3em 0.15em 0.15em;
  border: 2px solid var(--color-sec);
  border-radius: 50%;
}
