.home-banner-section {
  display: flex;
}
.home-banner-image,
.home-banner-text {
  width: 50%;
}

.home-banner-image {
  object-fit: cover;
}

.home-banner-text {
  background-color: var(--color-extra-light);
  padding: 60px 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 > span {
  font-size: inherit;
  color: var(--color-sec);
}

li {
  position: relative;
  padding-left: 48px;
}

li::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 16px;
  height: 22px;
  width: 22px;
  background-image: url('/bali-asociados-icon.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .home-banner-section {
    flex-direction: column;
  }

  .home-banner-image,
  .home-banner-text {
    width: 100%;
  }

  .home-banner-text {
    padding: 16px;
    display: block;
  }

  li {
    padding-left: 38px;
  }

  li::before {
    height: 18px;
    top: 8px;
  }
}

@media screen and (max-width: 374px) {
  .home-banner-image {
    height: 100vh;
    position: relative;
  }
  .home-banner-text {
    position: absolute;

    /* top: 0; */
    opacity: 0.7;
    height: 100vh;
  }
  .home-title {
    margin-top: 50px;
    font-size: 36px;
  }
  .home-subtitle {
    font-size: 30px;
  }
}
