.home-banner-section {
  display: flex;
}
.home-banner-image,
.home-banner-text {
  width: 50%;
}

.home-banner-image {
  object-fit: cover;
}

.home-banner-text {
  background-color: var(--color-extra-light);
  padding: 60px 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 > span {
  font-size: 34px;
  color: var(--color-sec);
}

li {
  position: relative;
  padding-left: 48px;
}

li::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 16px;
  height: 22px;
  width: 22px;
  background-image: url('/bali-asociados-icon.webp');
  background-size: contain;
  background-repeat: no-repeat;
}
