.home-banner-section {
  display: flex;
}
.home-banner-image,
.home-banner-text {
  width: 50%;
}

.home-banner-text {
  background-color: var(--color-light);
  padding: 0 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 > span {
  font-size: 24px;
}

span {
  color: var(--color-sec);
}
