.even,
.odd {
  display: flex;
  padding: 50px 12px;
}

.odd {
  flex-direction: row-reverse;
}

.article-image {
  border-radius: 12px;
  margin: 0 20px;
  max-width: 45%;
}

.article-text {
  padding: 0 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .even,
  .odd {
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .article-image {
    max-width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }

  .article-text {
    padding-left: 16px;
    padding-right: 16px;
  }
}
