.number-card {
  padding: 10px;
  background-color: var(--color-extra-light);
  border-radius: 12px;
  padding: 20px;
  height: 100%;
}

.number {
  color: var(--color-main);
  font-size: 44px;
  font-weight: 600;
}
