form {
  display: flex;
  padding: 28px 0px;
  gap: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form-field {
  width: 400px;
  /* background-color: var(--color-white); */
  border-radius: 6px;
  padding: 10px 12px;
}

.mat-mdc-table {
  margin: 20px 0;
  border-radius: 6px;
  width: 400px;
}

thead {
  display: none;
}

.category-icons {
  display: flex;
  gap: 6px;
}

.nuevo-cliente-icons {
  display: flex;
  gap: 6px;
}

.button-icon-icon {
  height: 24px;
  color: var(--color-main);
}

.button-icon-container {
  width: 47px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: var(--color-light);
  opacity: 0.7;
}
.button-icon-container:hover {
  opacity: 1;
}

.button-icon-container path {
  stroke: currentColor;
  stroke-width: 20;
  fill: none;
}

.button-icon-container:hover svg path {
  stroke: var(--color-sec);
}
