<main>
  <h1>Administrador de Categorías</h1>
  <form
    #newCategoryForm="ngForm"
    (ngSubmit)="addCategory(newCategoryName)"
    aria-labelledby="new-category-title"
  >
    <h2 id="new-category-title">Nueva Categoría</h2>
    <div class="inputs-and-buttons-container">
      <div class="form-field-container">
        <input
          id="newCategoryName"
          name="newCategoryName"
          [(ngModel)]="newCategoryName"
          placeholder="Nombre categoría"
          class="form-field"
          (keydown.escape)="reset()"
        />
        @if (existingCategory(newCategoryName)) {
        <p class="error-message">Categoría existente. Por favor, introduce un nombre distinto.</p>
        }
      </div>
      <app-accept-cancel-buttons
        [acceptDisabled]="newCategoryName === ''"
        [cancelDisabled]="newCategoryName === ''"
      ></app-accept-cancel-buttons>
    </div>
  </form>

  @if (adminCategories.error()) {
  <p class="server-error-message">{{ adminCategories.error() }}</p>

  } @else if(adminCategories.categories().length === 0 && !adminCategories.loading()){
  <p class="no-elements-message">No hay categorías creadas en este momento.</p>
  } @if (!adminCategories.error()) {
  <div class="table-wrapper">
    <table mat-table [dataSource]="adminCategories.categories()" class="table categories-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let category">
          @if (editingCategoryId === category._id) {
          <input
            class="updating-input"
            #input
            [(ngModel)]="editingCategoryName"
            (keydown.enter)="save(category._id, input.value)"
            (keydown.escape)="cancel()"
          />
          } @else {
          <p>{{ category.category }}</p>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="edition">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let category">
          <app-edit-delete-buttons
            (edit)="editCategory(category)"
            (delete)="deleteCategory(category._id)"
          ></app-edit-delete-buttons>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    @if (adminCategories.loading()) {
    <div class="loading-overlay">
      <app-spinner></app-spinner>
    </div>
    }
  </div>
  }
</main>
