.form-field {
  width: 400px;
}

.categories-table {
  min-width: 525px !important;
}

.error-message {
  font-size: 15px;
  color: #b3001b;
  margin-top: 10px;
}

.category-input {
  color: var(--color-sec);
}
