.no-categories-message {
  margin-top: 20px;
}

.new-category {
  padding: 10px 16px;
  border-bottom: 2px solid var(--color-extra-light);
  width: 400px;
}

.mat-mdc-table {
  margin: 20px 0;
  border-radius: 6px;
  width: 400px;
}

thead {
  display: none;
}

.category-icons {
  display: flex;
  margin-left: auto;
  gap: 6px;
}
