.service-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 45px;
  padding: 16px;
}

.customer-list {
  display: flex;
  gap: 40px;
  padding: 30px 12px 0 12px;
  justify-content: center;
}
