.service-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 35px;
  padding: 16px;
}

.customer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 30px 12px 0 12px;
  justify-content: center;
}

.trabajo-section {
  padding-right: 16px;
  padding-left: 16px;
}

.trabajo-section article {
  display: flex;
  padding: 50px 12px;
}

.trabajo-section ul {
  display: flex;
  align-items: center;
  gap: 14px;
  background-color: var(--color-extra-light);
  padding: 14px 20px;
  border-radius: 12px;
  justify-content: space-between;
}

.trabajo-section li {
  flex: 0;
}

.trabajo-section img {
  border-radius: 12px;
  margin: 0 20px;
  max-width: 45%;
}

.article-text {
  padding: 0 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trabajo-section .paragraph {
  margin-bottom: 20px;
}

@media screen and (min-width: 1300px) {
  .service-cards,
  .trabajo-section {
    width: 80%;
    margin: auto;
  }
  .trabajo-section li {
    flex: none;
  }
}

@media screen and (max-width: 992px) {
  .trabajo-section article,
  .trabajo-section ul {
    flex-direction: column;
  }
  .customer-list {
    grid-template-columns: 1fr;
  }
  .trabajo-section article {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .trabajo-section img {
    max-width: 100%;
    margin-bottom: 12px;
  }

  .article-text {
    padding: 0 16px;
  }
  .trabajo-section ul {
    padding: 14px 0;
  }
  .rotation {
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 375px) and (max-width: 992px) {
  .service-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 374px) {
  .service-cards {
    grid-template-columns: 1fr;
  }
}
