.service-cards {
  display: flex;
  justify-content: space-around;
  gap: 35px;
  padding: 16px;
}

.customer-list {
  display: flex;
  gap: 40px;
  padding: 30px 12px 0 12px;
}

.oneone {
  display: flex;
  flex-direction: row;
  padding: 50px 12px;
}

.twotwo {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 12px;
}
