.service-cards {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
}

.customer-list {
  display: flex;
  gap: 40px;
  padding: 30px 12px 0 12px;
}

.customer-card {
  padding: 10px;
}

.customer-icon {
  color: var(--color-main);
  height: 50px;
}

.icon-wrapper {
  background-color: var(--color-light);
  padding: 16px;
  margin-bottom: 30px;
  display: inline-block;
  border-radius: 12px;
}

.oneone {
  display: flex;
  flex-direction: row;
  padding: 50px 12px;
}

.twotwo {
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 12px;
}
