<footer>
  <nav>
    <ul>
      <li class="footer-nav-element">
        <a class="category-links" [routerLink]="['/nosotros']">Nosotros</a>
      </li>
      <li class="footer-nav-element">
        <a class="category-links" [routerLink]="['/aviso-legal']">Aviso legal</a>
      </li>
      <li class="footer-nav-element">
        <a class="category-links" [routerLink]="['/politica-cookies']">Política de cookies</a>
      </li>
      <li class="footer-nav-element">
        <a class="category-links" [routerLink]="['/politica-privacidad']">Política de privacidad</a>
      </li>
    </ul>
  </nav>

  <div class="secondary-footer-container" aria-label="Pie de página legal">
    <p class="secondary-footer-text">
      © 2025 Bali Asociados | Todos los derechos reservados | Web desarrollada por
      <a href="https://tuwebsolidaria.com" target="_blank" rel="noopener noreferrer"
        >Tu web solidaria</a
      >
    </p>
  </div>
</footer>
