:host {
  max-width: 30%;
}

.noticia-card-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-extra-light);
  padding: 20px;
  border-radius: 12px;
}

.noticia-card-container:hover {
  background-color: var(--color-light);
}

.noticia-title {
  color: var(--color-main);
  padding: 12px 0;
}

.noticia-card-container:hover .noticia-title {
  color: var(--color-sec);
}

.noticia-category {
  color: var(--color-main);
  background-color: var(--color-light);
  width: fit-content;
  font-weight: 800;
  padding: 8px 20px;
  border-radius: 12px;
  font-size: 14px;
}

.noticia-card-container:hover .noticia-category {
  background-color: var(--color-extra-light);
}

.noticia-category:hover {
  background-color: var(--color-sec) !important;
}

.noticia-date-and-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noticia-intro {
  margin-top: 10px;
}

.noticia-card-container:hover .arrow-icon path {
  stroke: var(--color-sec);
}
