.noticia-card-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-extra-light);
  padding: 20px;
  border-radius: 12px;
}

.noticia-card-container:hover {
  background-color: var(--color-light);
}

.noticia-title {
  color: var(--color-main);
  padding: 12px 0;
}

.noticia-card-container:hover .noticia-title {
  color: var(--color-sec);
}

.arrow-icon {
  color: var(--color-main);
  height: 30px;
  display: flex;
  align-self: flex-end;
}

.arrow-icon path {
  stroke: currentColor;
  stroke-width: 20;
  fill: none;
}

.noticia-card-container:hover .arrow-icon path {
  stroke: var(--color-sec);
}
