.noticia-card-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-extra-light);
  padding: 20px;
  border-radius: 12px;
  height: 100%;
}

.noticia-card-container:hover {
  background-color: var(--color-light);
}

.noticia-title {
  color: var(--color-main);
  padding: 12px 0;
}

.noticia-card-container:hover .noticia-title {
  color: var(--color-sec);
}

.noticia-card-container:hover .noticia-category {
  background-color: var(--color-extra-light);
}

.noticia-date-and-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noticia-intro {
  margin-top: 10px;
}

.noticia-card-container:hover .arrow-icon path {
  stroke: var(--color-sec);
}

.noticia-arrow {
  margin-left: 90%;
}
