.categories-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.aside-noticia-category {
  color: var(--color-main);
  width: fit-content;
  font-weight: 800;
  padding: 8px 20px;
  border-radius: 12px;
  font-size: 14px;
  text-transform: uppercase;

  border: 1px solid var(--color-light);
  background-color: var(--color-white);
}

.aside-noticia-category:hover {
  border: 1px solid var(--color-sec);
}

.todas-noticias {
  background-color: var(--color-extra-light);
}
