.categories-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.aside {
  border: 1px solid var(--color-light);
  background-color: var(--color-white);
}

.aside:hover {
  border: 1px solid var(--color-sec);
}

.todas-noticias {
  background-color: var(--color-extra-light);
}

.todas-noticias.active,
.aside.active {
  background-color: var(--color-sec);
  color: var(--color-white);
}

@media screen and (max-width: 768px) {
  .categories-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .categories-menu-title {
    display: none;
  }
}
