:host {
  position: fixed;
  inset: 0;
  background: rgba(222, 222, 255, 0.7);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modal {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: fit-content;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid var(--color-light);
}

.account-form {
  padding: 48px;
}

.button {
  padding: 8px 14px;
  border-radius: 10px;
}

.close-button {
  align-self: flex-end;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--color-main);
  color: var(--color-white);
  transition: background-color 0.25s ease-out;
  padding: 2px 8px;
  border-radius: 3px;
}

.close-button:hover {
  background-color: var(--color-sec);
}
