:host {
  background-color: var(--color-main);
  color: var(--color-white);
  padding: 58px;
  display: flex;
  justify-content: space-evenly;
}

.footer-logo {
  height: 50px;
}

.footer-claim {
  margin-left: 20px;
  font-weight: 300;
}

a {
  color: var(--color-white);
  font-size: 16px;
}

a:hover {
  color: var(--color-sec);
}

@media screen and (max-width: 766px) {
  :host {
    padding: 12px;
  }

  figure,
  .footer-menu {
    display: none;
  }
  .legal-nav ul {
    display: flex;
    gap: 8px;
    width: 95vw;
    justify-content: space-around;
  }
  a {
    font-size: 15px;
  }
}

@media screen and (max-width: 374px) {
  a {
    font-size: 12px;
  }
}
