<figure>
  <img class="footer-logo" src="/bali-asociados-logo-blanco.webp" alt="loog-bali-asociados" />
  <p class="footer-claim">Facilitando tu día a día</p>
</figure>
<nav>
  <ul>
    <li class="footer-nav-element">
      <a class="category-links" [routerLink]="['/nosotros']">Nosotros</a>
    </li>
    <li class="footer-nav-element">
      <a class="category-links" [routerLink]="['/noticias']">Al día</a>
    </li>
    <li class="footer-nav-element">
      <a class="category-links" [routerLink]="['/area-privada']">Área Privada</a>
    </li>
  </ul>
</nav>

<nav>
  <ul>
    <li class="footer-nav-element">
      <a class="category-links" [routerLink]="['/aviso-legal']">Aviso legal</a>
    </li>
    <li class="footer-nav-element">
      <a class="category-links" [routerLink]="['/politica-cookies']">Política de cookies</a>
    </li>
    <li class="footer-nav-element">
      <a class="category-links" [routerLink]="['/politica-privacidad']">Política de privacidad</a>
    </li>
  </ul>
</nav>
