.noticias-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 35px;
  padding: 16px 16px 80px 16px;
}

.noticias-aside {
  min-width: 20vw;
  padding: 20px;
  border: 1px solid var(--color-light);
  border-radius: 12px;
  margin: 16px;
  height: fit-content;
}

@media screen and (max-width: 374px) {
  .noticias-cards {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .noticias-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  .noticias-aside {
    border: none;
    margin: 0;
  }
}

@media screen and (max-width: 1680px) {
  app-reference-links {
    display: none;
  }
}
