:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.logo,
.logo > img {
  height: 95%;
}

app-burguer {
  display: none;
}

@media screen and (max-width: 766px) {
  app-burguer {
    display: block;
    color: var(--color-white);
    font-size: 26px;
    width: 40px;
  }
}
