:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.logo,
.logo > img {
  height: 95%;
}

.burguer-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .burguer-button {
    display: flex;
    opacity: 1;
    border-radius: 6px;
    justify-content: center;
    padding: 8px;
    background-color: var(--color-light);
  }

  .burguer-icon {
    color: var(--color-main);
    height: 30px;
  }

  app-button {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  .burguer-close {
    display: none;
  }
}

@media screen and (max-width: 374px) {
  :host {
    height: 60px;
  }
}
