:host {
  max-width: 30%;
}

.icon-card {
  padding: 10px;
}

.horizontal {
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: var(--color-extra-light);
  border-radius: 12px;
  margin-bottom: 18px;
}

.horizontal > .icon-wrapper {
  margin-bottom: 0px;
}

.icon-wrapper {
  background-color: var(--color-light);
  padding: 16px 16px 8px 16px;
  margin-bottom: 30px;
  display: inline-block;
  border-radius: 12px;
}

.icon {
  color: var(--color-main);
  height: 50px;
}

.horizontal .icon {
  height: 36px;
}

h3 {
  color: var(--color-main);
}

.diferencia-name {
  color: var(--color-main);
  font-weight: 600;
}
