.nuevo-admin-icons {
  display: flex;
  gap: 6px;
}

.button-icon-icon {
  height: 24px;
  color: var(--color-main);
}

.button-icon-container {
  width: 47px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: var(--color-light);
  opacity: 0.7;
  height: 48px;
}
.button-icon-container:hover {
  opacity: 1;
}

.button-icon-container path {
  stroke: currentColor;
  stroke-width: 20;
  fill: none;
}

.button-icon-container:hover svg path {
  stroke: var(--color-sec);
}
