html {
  scroll-behavior: smooth;
}

:root {
  --color-black: rgb(2, 21, 38);
  --color-white: #ffffff;
  --color-main: #231473;
  --color-sec: #3b889d;
  --color-light: #dedeff;
  --color-extra-light: #efedfb;

  /* --color-sec: #5c4d7c;
  --color-light: #f9ebff;
  --color-sec-dos: #66baa8; 
  --color-light: #e0edf2; 
  --color-light: #d7cdcb;
  --color-extra-light: #f8f3ff;
--color-sec: #9989b4;
  --color-light: #fbf8ff;
  --color-sec-2: #e8d5b5; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;

  font-family: 'EB+Garamond', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

body.public main {
  padding-top: 118px;
  min-height: 40vw;
}

body.admin main {
  padding: 42px 38px;
  min-height: 100vh;
  min-width: 80vw;
  background-color: var(--color-extra-light);
}

.centered-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  width: fit-content;
}

button:disabled,
button:disabled:hover {
  cursor: auto;
  background-color: var(--color-light);
}

.button {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-main);
  transition: background-color 0.25s ease-out;
  width: fit-content;
}

.button:hover {
  background-color: var(--color-sec);
  color: var(--color-white);
}

body.public .button {
  padding: 14px 26px;
  border-radius: 12px;
}

body.admin .button {
  padding: 8px 14px;
  border-radius: 10px;
}

h1 {
  margin-bottom: 16px;
}

body.public h1 {
  font-size: 40px;
}

body.admin h1 {
  font-size: 26px;
}

body.public h2 {
  font-size: 34px;
  margin-bottom: 12px;
}

body.public h3 {
  font-size: 24px;
  margin-bottom: 28px;
}

body.public h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.page-title {
  padding-top: 50px;
}

.page-subtitle {
  color: var(--color-sec);
}

.middle-section {
  padding: 80px 0;
}

.bottom-section {
  padding-bottom: 80px;
}

.coloured-section {
  background-color: var(--color-extra-light);
}

.centered-text {
  text-align: center;
}

.arrow-icon {
  color: var(--color-main);
  height: 30px;
  display: flex;
  align-self: flex-end;
  margin-top: 6px;
}

path {
  stroke: currentColor;
  stroke-width: 20;
  fill: none;
}

.paragraph {
  white-space: pre-line;
}

.noticia-category {
  color: var(--color-main);
  background-color: var(--color-light);
  width: fit-content;
  font-weight: 800;
  padding: 8px 20px;
  border-radius: 12px;
  font-size: 14px;
  text-transform: uppercase;
}

.noticia-category:hover {
  background-color: var(--color-sec) !important;
  color: var(--color-white);
}

.noticias-aside {
  min-width: 20vw;
  padding: 20px;
  border: 1px solid var(--color-light);
  border-radius: 12px;
  margin: 16px 16px 0 0;
  height: fit-content;
}

.noticias-content-container {
  display: flex;
  padding-top: 38px;
}
