html {
  scroll-behavior: smooth;
}

:root {
  --color-black: rgb(2, 21, 38);
  --color-white: #ffffff;
  --color-main: #231473;
  --color-light: #dedeff;

  /* --color-sec: #5c4d7c;
  --color-light: #f9ebff;
  --color-sec-dos: #66baa8; */

  /* --color-light: #e0edf2; 
  --color-light: #d7cdcb;*/
  /* --color-extra-light: #f8f3ff; */
  --color-extra-light: #efedfb;
  --color-sec: #3b889d;

  /*--color-sec: #9989b4;
  --color-light: #fbf8ff;
  --color-sec-2: #e8d5b5; */

  --white-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  --black-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  --main-shadow: 2px 2px 4px rgba(35, 20, 15, 0.5);
  --hover-scale: scale(1.025);
  --smooth-scale: transform 0.3s ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;

  font-family: 'EB+Garamond', serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
  font-size: 18px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  width: fit-content;
}

button:disabled,
button:disabled:hover {
  cursor: auto;
  background-color: var(--color-light);
}

.button {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-main);
  transition: background-color 0.25s ease-out;
}

.button:hover {
  background-color: var(--color-sec);
  color: var(--color-white);
}

body.public .button {
  padding: 14px 26px;
  border-radius: 12px;
}

body.admin .button {
  padding: 8px 14px;
  border-radius: 10px;
}

body.public main {
  padding-top: 118px;
  min-height: 40vw;
}

body.admin main {
  padding: 42px 38px;
  min-height: 100vh;
  min-width: 80vw;
  background-color: var(--color-extra-light);
}

h1 {
  margin-bottom: 16px;
}

body.public h1 {
  font-size: 40px;
}

body.admin h1 {
  font-size: 26px;
}

body.public h2 {
  font-size: 34px;
  margin-bottom: 12px;
}

body.public h3 {
  font-size: 24px;
  margin-bottom: 28px;
}

.centered-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  padding-top: 50px;
}

.page-subtitle {
  color: var(--color-sec);
}

.middle-section {
  padding: 80px 0;
}

.coloured-section {
  background-color: var(--color-extra-light);
}

.centered-text {
  text-align: center;
}
