<main>
  <h1>Añadir nueva noticia</h1>
  @if(noticiaFields){
  <form [formGroup]="noticiaFields" (submit)="onSubmit(); noticiaFields.reset()">
    <input
      placeholder="Escribe un título"
      class="form-field"
      type="text"
      id="title"
      formControlName="title"
    />
    @if (noticiaFields.get('title')?.touched && noticiaFields.get('title')?.errors?.['required']) {
    <p class="error-message">Por favor, introduce un título para la nueva noticia.</p>
    } @if (noticiaFields.get('title')?.invalid && noticiaFields.get('title')?.dirty &&
    noticiaFields.get('title')?.errors?.['existingTitle'] ) {
    <p class="error-message">
      Ya existe una noticia con este título Por favor, introduce un título distinto.
    </p>
    } @if (getNoticias.categories()) {
    <p>Selecciona una categoría o añade una nueva</p>
    } @else {
    <p>No hay ninguna categoría creada todavía. Añade una nueva categoría.</p>
    }
    <div class="category-fields">
      @if (getNoticias.categories()) {
      <select class="form-field" formControlName="existingCategory" id="existingCategory">
        <option value="">Selecciona una categoría</option>
        @for(category of getNoticias.categories(); track $index) {
        <option [value]="category">{{ category }}</option>
        }
      </select>
      }
      <div class="add-category-input-and-button">
        <input
          placeholder="Escribe una nueva categoría"
          class="form-field"
          type="text"
          id="newCategory"
          formControlName="newCategory"
        />

        <app-icon-button
          (click)="addCategory(noticiaFields.get('newCategory')?.value)"
          [path]="plusPath"
        ></app-icon-button>
      </div>
    </div>

    <textarea
      formControlName="text"
      id="text"
      placeholder="Introduce el texto de la noticia"
      class="form-field"
    ></textarea>
    @if(noticiaFields.get('text')?.touched && noticiaFields.get('text')?.errors?.['required']){
    <p class="error-message">Por favor, introduce contenido para la nueva noticia.</p>
    } @if(noticiaFields.get('text')?.value?.includes('PwC')){
    <p id="warning">Tu texto contiene la palabra "PwC". Bórrala para publicar la noticia.</p>
    }
    <button class="button" type="submit" [disabled]="noticiaFields.invalid">Publicar</button>
  </form>

  }
</main>
