form {
  padding: 28px 18px;
  border-radius: 10px;
  background-color: var(--color-extra-light);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  background-color: var(--color-white);
  border-radius: 6px;
  padding: 10px 12px;
}

.category-fields {
  display: flex;
  gap: 12px;
}

#existingCategory,
.add-category-input-and-button {
  flex: 1;
}

.add-category-input-and-button {
  display: flex;
  gap: 6px;
}

#newCategory {
  width: 89%;
}

.add-category-icon {
  height: 20px;
}

#text {
  min-height: 50vh;
  field-sizing: content;
  padding: 16px 20px 40px 20px;
}

.error-message {
  font-size: 15px;
  color: #b3001b;
}
