<main>
  <form #newNoticiaForm="ngForm" (submit)="onSubmit(); newNoticiaForm.resetForm()">
    <input
      placeholder="Escribe un título"
      class="form-field"
      type="text"
      id="title"
      name="title"
      required
      [(ngModel)]="newNoticia.title"
      #titleField="ngModel"
    />
    @if (titleField.touched && titleField.errors?.['required']) {
    <p class="error-message">Por favor, introduce un título para la nueva noticia.</p>
    } @if (titleField.invalid && titleField.dirty && titleField.errors?.['existingName']) {
    <p class="error-message">
      Ya existe una noticia con este título Por favor, introduce un título distinto.
    </p>
    }

    <input
      placeholder="Introduce el texto de la noticia"
      class="form-field"
      type="text"
      id="content"
      name="content"
      required
      [(ngModel)]="newNoticia.text"
      #contentField="ngModel"
    />
    @if(contentField.touched && contentField.errors?.['required']){
    <p class="error-message">Por favor, introduce contenido para la nueva nooticia.</p>
    }

    <div class="buttons-container">
      <button class="button" type="submit" [disabled]="newNoticiaForm.invalid">Añadir</button>
      <button class="button" type="reset">Cancelar</button>
    </div>
  </form>
</main>
