form {
  padding: 28px 18px;
  border-radius: 10px;
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  background-color: var(--color-white);
  border-radius: 6px;
}

#title {
  padding: 10px 12px;
}

.category-fields {
  display: flex;
  gap: 10px;
}

#newCategory,
#existingCategory {
  padding: 8px 12px;
  flex: 1;
}

#text {
  min-height: 50vh;
  field-sizing: content;
  padding: 16px 20px 40px 20px;
}

.buttons-container {
  display: flex;
  gap: 12px;
}
