form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category-fields {
  display: flex;
  gap: 12px;
}

#existingCategory,
.add-category-input-and-button {
  flex: 1;
}

.add-category-input-and-button {
  display: flex;
  gap: 6px;
  align-items: center;
}

#newCategory {
  width: 89%;
}
