.noticias-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 35px;
  padding: 16px;
}

@media screen and (max-width: 374px) {
  .noticias-cards {
    grid-template-columns: 1fr;
  }
}
