.carousel-container {
  display: flex;
  padding: 0 16px;
  align-items: center;
  justify-content: space-around;
}

.left {
  transform: rotate(180deg);
}

.carousel-arrow {
  align-self: center;
}

.reference-links-list {
  display: flex;
  gap: 48px;
  padding: 26px;
  justify-content: space-around;
  width: 80vw;
}

.reference-link-container p {
  text-align: center;
}

@media screen and (min-width: 1140px) and (max-width: 1680px) {
  .reference-links-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .carousel-arrow {
    display: none;
  }
}

@media screen and (max-width: 1141px) {
  .carousel-arrow {
    display: none;
  }
  .reference-links-list {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .reference-link-container {
    scroll-snap-align: center;
  }
}
